<div class="table-container">
  <div class="table-header">
    <app-search [label]="'Search Email'" (search)="searchEmails($event)"></app-search>
    @if (selectedMail) {
    <div class="button-container">
      <fa-icon class="option-icon" [icon]="faEllipsisVertical" size="lg"></fa-icon>
      <fa-icon class="trash" [icon]="faTrash"></fa-icon>
    </div>
    }
  </div>
  <div class="table-overflow-y">
    <div class="table">
      @if(!dataSource || dataSource.length === 0) {
      <div class="empty-text">No emails found</div>
      } @for (message of dataSource; track $index) {

      <div class="table-row" (click)="selectMail(message.id)">
        <div>
          <mat-radio-button
            (click)="$event.stopPropagation(); selectMailCheckbox(message)"
            [value]="message.id"
            [checked]="selectedMail?.id === message.id"
          ></mat-radio-button>
        </div>
        <div>
          <fa-icon
            class="starred-icon"
            [icon]="message.isStared ? faStar : faStarSolid"
            (click)="$event.stopPropagation(); starredMail(message)"
          ></fa-icon>
        </div>
        <div (click)="selectMail(message.id)">{{ message.name }}</div>
        @if(message.labels.length > 0) {
        <div class="badge-flex-container">
          @for (label of message.labels; track $index) {
          <div class="badge-container">
            <div
              class="badge"
              (click)="selectMail(message.id)"
              [ngStyle]="{ 'background-color': label.color }"
            >
              {{ label.name }}
            </div>
          </div>
          }
        </div>
        } @else {
        <div class="dummy-label"></div>
        }
        <div class="content" (click)="selectMail(message.id)">
          {{ message.message }}
        </div>
        <div class="date" (click)="selectMail(message.id)">
          {{ message.createdAt | date : 'YYYY.MM.dd' }}
        </div>
      </div>
      }
    </div>
  </div>
  <div class="table-bottom">
    <div class="text">showing 1-15 of {{ emailsCount }}</div>
    <div class="button-container">
      <fa-icon [icon]="faAngleLeft"></fa-icon>
      <fa-icon [icon]="faAngleRight"></fa-icon>
    </div>
  </div>
</div>
