<div class="action-container" [ngClass]="{ 'is-mobile': isMobile }">
  @for (sidebar of actionsSignal(); track $index) {
  <div class="title">
    {{ sidebar.title }}
  </div>
  @for (content of sidebar.content; track $index) { @if(typeof content === 'object') {
  <div
    class="item-action"
    [ngClass]="{ active: content.active, 'is-mobile': isMobile }"
    (click)="selectAction(content)"
  >
    <div>
      <fa-icon [icon]="content.icon"></fa-icon>
      <span class="title">{{ content.title }}</span>
    </div>
    <div class="counter">{{ content.count }}</div>
  </div>
  } } }

  <app-label></app-label>
</div>
