:host {
  flex-grow: 1;
  background-color: #2d373f;
  color: white;
}

.container {
  display: flex;
  gap: 15px;
  margin: 20px;
  height: calc(100% - 40px);

  &.is-mobile {
    flex-wrap: wrap;
    justify-content: center;
    height: unset;
  }

  .content-container {
    height: 100%;
    overflow-y: auto;
    width: 100%;
  }
}
