<div class="container">
  @for (item of labels; track $index) {
  <mat-checkbox class="label-checkbox" [style.color]="item.color">{{ item.name }}</mat-checkbox>
  }
</div>
<div class="create-new-label-container">
  <fa-icon [icon]="faPlus"></fa-icon>
  <span (click)="openDialog()">Create new label</span>
</div>

<dialog #labelDialog>
  <div class="dialog-container" [formGroup]="generateLabelForm">
    <h1>Label generation</h1>
    <div class="content-container">
      <mat-form-field appearance="outline">
        <mat-label>Label name</mat-label>
        <input matInput placeholder="color" formControlName="name" />
        @if(this.generateLabelForm.get('name')?.hasError('required') &&
        this.generateLabelForm.get('name')?.touched && this.generateLabelForm.get('name')?.touched)
        {
        <mat-error>Name is required</mat-error>
        }
      </mat-form-field>

      <input
        [value]="selectiveColor"
        formControlName="color"
        [style.background]="selectiveColor"
        [(colorPicker)]="selectiveColor"
        [cpPresetColors]="presetColors"
        [cpPresetLabel]="'Preset Colors'"
        (colorPickerChange)="changeColor($event)"
      />

      <button mat-raised-button (click)="onSubmit()" [disabled]="generateLabelForm.invalid">
        Submit
      </button>
    </div>
  </div>
</dialog>
