.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.create-new-label-container {
  padding: 10px 10px 20px 23px;

  &:hover {
    cursor: pointer;
  }

  span {
    padding-inline-start: 10px;
  }
}

dialog {
  border-radius: 10px;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .content-container {
    margin-block-start: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    mat-form-field {
      margin-block: 10px;
    }

    button {
      margin-block-start: 20px;
    }
  }
}
